<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Việc làm</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-group row" style="margin: 0 auto; width: 60%">
            <select class="form-select" style="width: 30%; height: 50px;">
                <option style="width: 500px" *ngFor="let item of optionCompany" [value]="item._id">{{item._id}}</option>
            </select>
            
            <!-- <select class="form-select">
                <option [value]="optionCareer">{{optionCareer}}</option>
            </select> -->
        </div>
        <br>
        <div class="row">
            <section class="col-lg-12 connectedSortable" style="margin: auto">
                <div class="card">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="JobName">
                            <th mat-header-cell *matHeaderCellDef>Tiêu đề Job</th>
                            <td mat-cell *matCellDef="let element" style="width: 400px;">{{ element.job_title }}</td>
                        </ng-container>
                        <ng-container matColumnDef="CtyName">
                            <th mat-header-cell *matHeaderCellDef>Tên công ty</th>
                            <td mat-cell *matCellDef="let element">{{ element.company }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef>Mức lương</th>
                            <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Date">
                            <th mat-header-cell *matHeaderCellDef>Ngày đăng</th>
                            <td mat-cell *matCellDef="let element">{{ element.published_date }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Source">
                            <th mat-header-cell *matHeaderCellDef>Nguồn</th>
                            <td mat-cell *matCellDef="let element">{{ element.source }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50]" [length]="totalElements" showFirstLastButtons></mat-paginator>
                </div>
            </section>
        </div>
    </div>
</section>