<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a class="brand-link">
        <img src="../../../assets/images/businessman-avatar-with-stats-poster-strategy-related-objects-white-background-vector-illus_24877-20240.webp" class="brand-image elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-bold">TEST</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../../../assets/images/img_avatar.png" class="img-circle elevation-2">
            </div>
            <div class="info">
                <a class="d-block">Admin</a>
            </div>
        </div>
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" *ngFor="let item of ListSide">
                    <a [routerLink]="item.path" class="nav-link">
                      <i [class]="item.icon"></i>
                      <p>{{item.name }}</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

