
.nav-item{
    .nav-link{
        height: 60px;
        i{
            margin: 12px 0;
            font-size: 20px;
        }
        p{
            font-size: 15px;
            margin-left: 10px;
            align-items: center;
        }
    }
}