.list-company{
    width: 96.8%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    .job{
      margin: 20px 0;
      margin-left: 40px;
      margin-top: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      background-color: #ffffff;
      margin-bottom: 20px;
      display: flex;
      .infor{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        margin: 15px;
        .name{
          color: #01338C;
          font-size: 20px;
          font-weight: 700;
        }
        .desc{
          color: red;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }