<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Danh sách công ty và việc làm</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="list-company">
                    <div class="job card" *ngFor="let item of companyList | paginate: { itemsPerPage: 12, currentPage: p }">
                      <div class="infor">
                        <span class="name"><i class="fas fa-building"></i> {{item._id}}</span>
                        <p>Tổng số việc làm:  <span class="desc"> {{item.count}}</span></p>
                      </div>
                    </div>
                </div>
                <div class="text-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </section>
        </div>
    </div>
</section>