<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Thống kê</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-9">
                <div class="small-box bg-danger">
                    <div class="icon bg-white">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="inner">
                        <h3>Tổng số công ty</h3>
                        <p>{{ jobTotal }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-9">
                <div class="small-box bg-success">
                    <div class="icon bg-white">
                        <i class="fas fa-business-time"></i>
                    </div>
                    <div class="inner" >
                        <h3>Tổng số việc làm</h3>
                        <p>{{ companyTotal }}</p>
                    </div>
                </div>
            </div>
            <section class="col-lg-6 connectedSortable">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Biểu đồ số lượng nguồn
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content p-0" *ngIf="this.sourceData">
                            <apx-chart
                                [series]="pieChart1Options.series"
                                [chart]="pieChart1Options.chart"
                                [labels]="pieChart1Options.labels"
                                [responsive]="pieChart1Options.responsive"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-lg-6 connectedSortable">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Biểu đồ Số lượng Job theo ngành nghề
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content p-0" *ngIf="this.jobData">
                            <apx-chart
                                [series]="pieChart2Options.series"
                                [chart]="pieChart2Options.chart"
                                [labels]="pieChart2Options.labels"
                                [responsive]="pieChart2Options.responsive"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-lg-12 connectedSortable" style="margin: auto">
                <div class="card">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="Số thứ tự">
                            <th mat-header-cell *matHeaderCellDef>STT</th>
                            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef>Ngành nghề</th>
                            <td mat-cell *matCellDef="let element">{{ element.field }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Min">
                            <th mat-header-cell *matHeaderCellDef>Mức lương tối thiểu</th>
                            <td mat-cell *matCellDef="let element">{{ element.salary_min | currency:"VND":"symbol" }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Max">
                            <th mat-header-cell *matHeaderCellDef>Mức lương tối đa</th>
                            <td mat-cell *matCellDef="let element">{{ element.salary_max | currency:"VND":"symbol" }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Avg">
                            <th mat-header-cell *matHeaderCellDef>Mức lương trung bình</th>
                            <td mat-cell *matCellDef="let element">{{ element.salary_avg | currency:"VND":"symbol" }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
                </div>
            </section>
        </div>
    </div>
</section>