:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
mat-drawer {
    width: 300px;
}
mat-drawer-container {
    height: 100%;
}
.small-box{
    height: 200px;
    .inner, h3{
        margin: 20px 0;
        p{
            font-size: 22px;
        }
    }
}
